.uiButton{
    /* Remover o valor default que vier */
    background-color: unset;
    /* ou */
    /* background-color: transparent; */
    border-radius: 4px;
    text-decoration: none;
    padding: unset;
    padding: 8px 10px;
    /* não quebrar de linha */
    white-space: nowrap;
}

.uiButton--bordered-primary{
    color: #3498DB;
    border: 1px solid #3498DB;
}

.uiButton--conteined-success{
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
    color: #fff;
}

.uiButton--bordered-warning{
    color: #e5ae08;
    border: 1px solid #e5ae08;
}

.uiButton--conteined-primary{
    background-color: #3498DB;
    border: 1px solid #3498DB;
}

.uiButton--conteined-warning{
    color: #fff;
    background-color: #e5ae08;
    border: 1px solid #e5ae08;
}

