.promotionFormGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.promotionFormGroup label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.promotionFormGroup input{
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: #fff;
    height: 36px;
    padding: 0 10px;
}

.promotionFormGroupButton{
    display: flex;
    justify-content: space-between;
}